<div class="col-xs-12 col-sm-9">
    <br>

    <div class="row" id="rowTable" style="">
        <div class="col-md-12">
            <table id="table" class="table table-bordered">
                <thead>
                <tr>
                    <th data-field="name" data-sortable="true" data-order="asc">Nom</th>
                    <th data-field="value" data-visible="true">Valeur</th>
                    <th data-field="type" data-visible="false">Type</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="myModal">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Information</h4>
                        </div>
                        <div class="modal-body">
                            <p id="contentOp"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>

</div>

<script type="text/javascript">
    var dataDevices = [];


    $(function(){
        var $bootTable = null;

        $bootTable = $('#table').bootstrapTable({
            data: dataDevices,
            pagination:true,
            pageSize:12,
            search:true,
            clickToSelect:true,
            locale:"fr-FR",
            showRefresh:true,
            showColumns:true,
            showToggle:true,
            pageNumber:1,
            pageList:[10, 25, 50, 100]
        });

        $.ajax({
            type: "GET",
            url: "/deviceOpenHab",
            data: {},
            dataType: "json",
            success: function(devices){
                console.log("devices " + devices);
                if(typeof devices !="undefined")
                {
                    if(devices.length>0)
                    {
                        dataDevices = devices;
                        $bootTable.bootstrapTable('load', dataDevices);

                    }else{
                        $("#contentOp").text("Aucun équipement!!");
                        $('#myModal').modal('show');
                    }
                }
            }
        });
    });
</script>