<!DOCTYPE html>
<html>
  <head>
      <head>
          <title>{{title}}</title>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta http-equiv="Content-Language" content="en">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

          <!--<link rel="stylesheet" href="/stylesheets/bostyle.css"/>-->

          <link rel='stylesheet' href='/stylesheets/style.css' />
         <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
          <link rel='stylesheet' href='/stylesheets/bo.css' />
          <link rel='stylesheet' href='/stylesheets/bootstrap-table.css'/>
          <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

          <script type="text/javascript" src="/javascripts/jquery-3.0.0.js">
          </script>

          <script type="text/javascript" src="/javascripts/bootstrap.js">
          </script>
          <script type="text/javascript" src="/javascripts/backOffice.js">
          </script>

          <script type="text/javascript" src="/javascripts/bootstrap-table.js">
          </script>

          <script type="text/javascript" src="/javascripts/bootstrap-table-locale-all.js">
          </script>


      </head>
  </head>
  <body>
  <div class="navbar navbar-fixed-top navbar-default deleteLogin" role="navigation">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">TPT MBDS LIFI GROUPE </a>
          </div>
          <div class="collapse navbar-collapse  deleteLogin">
              <ul class="nav navbar-nav">
                  <!--<li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>-->
              </ul>
          </div>
          <!-- /.nav-collapse -->
      </div>
      <!-- /.container -->
  </div>
  <!-- /.navbar -->
  <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-left">
          <div class="col-xs-6 col-sm-3 sidebar-offcanvas  deleteLogin" id="sidebar" role="navigation">
              <div class="sidebar-nav">
                  <ul class="nav">
                      <li class="active">
                          <a href="/homeBo" id="user">Utilisateur</a>
                      </li>
                      <li class="active">
                          <a href="/scenarioSBo" id="scenarioSBo">Scénario</a>
                      </li>

                      <li><a href="/scenarioBo">Configuration Sc&eacute;narios</a></li>
                      <li><a href="/deviceBo">Devices</a></li>
                      <li><a href="/lampandaireBo">Lampandaire</a></li>
                      <li class="nav-divider"></li>
                  </ul>
              </div>
              <!--/.well -->
          </div>
          <!--/span-->

          {{{body}}}
          <!--/span-->
      </div>
      <!--/row-->


  </div>


  <!--<hr class="deleteLogin">-->

  <!--<footer class="deleteLogin">
      <p>© TPT MBDS GROUPE LIFI 2016-2017</p>
  </footer>-->
  </body>

</html>
