<div class="col-xs-12 col-sm-9">
    <br>
    <div class="row">
        <form id="formUser"  onsubmit="return false;">
            <div class="col-md-6">
                <div class="form-group row">
                    <label  class="col-sm-4 col-form-label" for="name_scenario">Nom sc&eacute;nario</label>
                    <div class="col-sm-8">
                        <input type="text" required="required" name="name_scenario" class="form-control" id="name_scenario" placeholder="Nom du scénario">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name_scdtl" class="col-sm-4 col-form-label">&eacute;quipement</label>
                    <div class="col-sm-8">
                        <input type="text" name="name_scdtl" required="required" class="form-control" id="name_scdtl" placeholder="Equipement ">
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-md-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-primary" id="submit">Enregister</button>
                        <button type="button" class="btn btn-danger" id="supprimer">Supprimer</button>
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group row">
                    <label for="value_scenariodtl" class="col-sm-4 col-form-label">Valeur</label>
                    <div class="col-sm-8">
                        <input type="text" name="value_scenariodtl" required="required" class="form-control" id="value_scenariodtl" placeholder="Valeur ">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="type_scenarriodtl" class="col-sm-4 col-form-label">Type</label>
                    <div class="col-sm-8">
                        <select name="type_scenarriodtl" id="type_scenarriodtl" required="required" class="form-control">
                            <option value="Switch">Switch</option>
                            <option value="tempmax">Temp&eacute;rature max</option>
                            <option value="tempmin">Temp&eacute;rature min</option>
                        </select>

                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row" id="rowTable">
        <div class="col-md-12">
            <table id="table" class="table table-bordered">
                <thead>
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="name_scenario" data-sortable="true" data-order="asc">Nom </th>
                    <th data-field="name_scdtl" data-sortable="true" data-order="asc">&eacute;quipement</th>
                    <th data-field="value_scenariodtl">Valeur</th>
                    <th data-field="type_scenarriodtl">Type</th>
                    <th data-field="_id" data-visible="false">id scenario</th>
                    <th data-field="id_scenarioDtl" data-visible="false">id scenario dtl</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="myModal">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Information</h4>
                        </div>
                        <div class="modal-body">
                            <p id="contentOp"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>


    <!--/row-->
</div>

<script type="text/javascript">
    var dataUser = [];
    var idRowUpdate ="";
    var idUserSession = "{{idUserSess}}";

    console.log("id users session " + idUserSession);
    $(function(){
        var $bootTable = null;
       $("#rowTable").hide();

        $bootTable = $('#table').bootstrapTable({
            data: dataUser,
            pagination:true,
            pageSize:12,
            search:true,
            clickToSelect:true,
            locale:"fr-FR",
            showRefresh:true,
            showColumns:true,
            showToggle:true,
            pageNumber:1,
            pageList:[10, 25, 50, 100]
        });
        $("#supprimer").hide();

        $.ajax({
            type: "GET",
            url: "/scenario",
            data: {
                idUser:idUserSession
            },
            dataType: "json",
            success: function(scenarios){
                console.log(scenarios);
                if(typeof scenarios !="undefined")
                {
                    if(scenarios.length>0)
                    {
                        dataUser = scenarios;
                        dataUser.forEach(function(user){
                            user.state=false;
                        });
                        $bootTable.bootstrapTable('load', dataUser);
                        $("#rowTable").show();
                    }else{
                       // $('#table').hide();
                        $("#rowTable").hide();
                    }
                    //

                }
            }
        });

        $bootTable.on('check.bs.table', function (e, row) {
            var rowSelected =  $bootTable.bootstrapTable('getSelections');
            var lengthArray = rowSelected.length;
            if(typeof row !="undefined" && typeof  row._id!="undefined")
            {
                console.log("row selected " + row);
                $("#username").val(row.username);
                $("#firstName").val(row.firstName);
                $("#mail").val(row.mail);
                $("#imei").val(row.imei);
                $("#idLamp").val(row.idLamp);

                idRowUpdate= row._id;
                $("#submit").text("Modifier");
                $("#supprimer").show();
                //console.log("idfisry select " + row._id);
                // $("#idLamp").val(rowData.idLamp);
            }

        });
        $bootTable.on('uncheck.bs.table', function (e, row) {
            var rowSelected =  $bootTable.bootstrapTable('getSelections');
            //console.log("idupadre " + idRowUpdate + " row " + row._id);
            if(idRowUpdate==row._id)
            {
                $('input').val("");
                $("#submit").text("Enregister");
                $("#supprimer").hide();
                idRowUpdate="";
            }else{
                $("#submit").text("Modifier");
                $("#supprimer").show();
            }
        });

        $('#submit').click(function(){
            if($("form")[0].checkValidity()) {
                //your form execution code
                // var formData = JSON.stringify($("#formUser").serializeArray());
                var indexed_array = {};
                $.map($("#formUser").serializeArray(), function(n, i){
                    indexed_array[n['name']] = n['value'];
                });
                console.log(indexed_array);
                if(idRowUpdate.length==0)
                {
                    $.ajax({
                        type: "POST",
                        url: "/scenario",
                        data: indexed_array,
                        dataType: "json",
                        success: function(scenario){
                            console.log("scenario save " + scenario);
                            if(typeof scenario !="undefined")
                            {
                                if(scenario.resultat==true)
                                {
                                    $("#contentOp").text("Scénario ajouté");
                                    scenario.state=false;
                                    dataUser.push(scenario);
                                    $bootTable.bootstrapTable('load', dataUser);
                                }else{
                                    $("#contentOp").text("Erreur veuillez réessayer plus tard!!");
                                }
                            }else{
                                $("#contentOp").text("Impossible de satisfaire votre demande veuillez réessayer plus tard!!");
                            }
                            $('#myModal').modal('show');
                            $('input').val("");
                            dataUser.length>0? $('#table').show(): $('#table').hide();
                        }
                    });
                }else{
                    //console.log("user save " + user);
                    indexed_array._id=idRowUpdate;
                    console.log("upser update " + indexed_array);
                    console.log(indexed_array);
                    /*$.ajax({
                        type: "POST",
                        url: "/userUpdate",
                        data: indexed_array,
                        dataType: "json",
                        success: function(user){
                            console.log("user update " + user);
                            if(typeof user !="undefined")
                            {
                                if(user.resultat==true)
                                {
                                    $("#contentOp").text("Utilisateur modifié(e)");
                                    user.state=true;
                                    dataUser.forEach(function(userFind){
                                        if(userFind._id==user._id)
                                        {
                                            userFind = user;
                                        }
                                    });
                                    $bootTable.bootstrapTable('load', dataUser);
                                }else{
                                    $("#contentOp").text("Erreur veuillez réessayer plus tard!!");
                                }
                            }else{
                                $("#contentOp").text("Impossible de satisfaire votre demande veuillez réessayer plus tard!!");
                            }
                            $('#myModal').modal('show');
                            $('input').val("");
                        }
                    });*/

                }

            }else console.log("invalid form");
        });

        $("#supprimer").click(function(){
            var rowSelected =  $bootTable.bootstrapTable('getSelections');
            //console.log(rowSelected);
            if(rowSelected.length==0)
            {
                $("#contentOp").text("Aucun utilisateur choisi!!");
                $('#myModal').modal('show');

            }else{
                var dataT =[];
                rowSelected.forEach(function(user){
                    if(typeof user._id!="undefined")
                    {
                        console.log("id " + user._id);
                        dataT.push(user._id);
                        if(idRowUpdate==user._id)
                        {
                            $('input').val("");
                            idRowUpdate="";
                        }

                    }
                });
                console.log("delete " + dataT);

                //console.log(data);
            }
        });
    });
</script>