<div class="col-xs-12 col-sm-9">
    <br>
    <div class="row">
        <form id="formUser"  onsubmit="return false;">
            <div class="col-md-6">
                <div class="form-group row">
                    <label  class="col-sm-4 col-form-label" for="name_scenario">N° s&eacute;rie</label>
                    <div class="col-sm-8">
                        <input type="text" required="required" name="name" class="form-control" id="name" placeholder="Nom du scénario">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-primary" id="submit">Enregister</button>
                        <button type="button" class="btn btn-danger" id="supprimer">Supprimer</button>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
            </div>
        </form>
    </div>

    <div class="row" id="rowTable">
        <div class="col-md-12">
            <table id="table" class="table table-bordered">
                <thead>
                <tr>
                    <th data-field="state" data-checkbox="true"></th>
                    <th data-field="name" data-sortable="true" data-order="asc">Nom</th>
                    <th data-field="dateCreate" data-visible="true">Date de cr&eacute;ation</th>
                    <th data-field="_id" data-visible="false">id scenario</th>
                    <th data-field="id_user" data-visible="false">id_user</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="myModal">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Information</h4>
                        </div>
                        <div class="modal-body">
                            <p id="contentOp"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>


    <!--/row-->
</div>

<script type="text/javascript">
    var dateScenarioBS = [];
    var idRowUpdate ="";
    var idUserSession = "{{idUserSess}}";

    console.log("id users session " + idUserSession);
    $(function(){
        var $bootTable = null;
        $("#rowTable").hide();

        $bootTable = $('#table').bootstrapTable({
            data: dateScenarioBS,
            pagination:true,
            pageSize:12,
            search:true,
            clickToSelect:true,
            locale:"fr-FR",
            showRefresh:true,
            showColumns:true,
            showToggle:true,
            pageNumber:1,
            pageList:[10, 25, 50, 100]
        });
        $("#supprimer").hide();
        $.ajax({
            type: "GET",
            url: "/scenarioS",
            data: {
                idUser:idUserSession
            },
            dataType: "json",
            success: function(scenarioR){
                console.log("lampandaire " + scenarioR);
                if(typeof scenarioR !="undefined")
                {
                    if(scenarioR.length>0)
                    {
                        dateScenarioBS = scenarioR;
                        updateState(dateScenarioBS);
                        $bootTable.bootstrapTable('load', dateScenarioBS);
                        $("#rowTable").show();
                    }else{
                        $("#rowTable").hide();
                    }
                }
            }
        });
        $bootTable.on('check.bs.table', function (e, row) {
            var rowSelected =  $bootTable.bootstrapTable('getSelections');
            var lengthArray = rowSelected.length;
            if(typeof row !="undefined" && typeof  row._id!="undefined")
            {
                //var rowData = rowSelected[lengthArray-1];
                console.log("row selected " + row);
                $("#serial_number").val(row.serialID);
                idRowUpdate= row._id;
                $("#submit").text("Modifier");
                $("#supprimer").show();
            }

        });
        $bootTable.on('uncheck.bs.table', function (e, row) {
            var rowSelected =  $bootTable.bootstrapTable('getSelections');
            if(idRowUpdate==row._id)
            {
                $('input').val("");
                $("#submit").text("Enregister");
                $("#supprimer").hide();
                idRowUpdate="";
            }else{
                $("#submit").text("Modifier");
                $("#supprimer").show();
            }
        });

        $('#submit').click(function(){
            if($("form")[0].checkValidity()) {
                var indexed_array = {};
                $.map($("#formUser").serializeArray(), function(n, i){
                    indexed_array[n['name']] = n['value'];
                });
                console.log(indexed_array);
                if(idRowUpdate.length==0)
                {
                    indexed_array.idUser=idUserSession;
                    $.ajax({
                        type: "POST",
                        url: "/createScenarioSimple",
                        data: indexed_array,
                        dataType: "json",
                        success: function(scen){
                            console.log(scen);
                            if(typeof scen !="undefined")
                            {
                                if(scen.resultat==true)
                                {
                                    $("#contentOp").text("Scénario ajouté");
                                    scen.state=false;
                                    dateScenarioBS.push(scen);
                                    $bootTable.bootstrapTable('load', dateScenarioBS);
                                }else{
                                    $("#contentOp").text("Erreur veuillez réessayer plus tard!!");
                                }
                            }else{
                                $("#contentOp").text("Impossible de satisfaire votre demande veuillez réessayer plus tard!!");
                            }
                            $('#myModal').modal('show');
                            $('input').val("");
                            dateScenarioBS.length>0? $('#table').show(): $('#table').hide();
                        }
                    });
                }else{
                    //console.log("user save " + user);
                    /*indexed_array._id=idRowUpdate;
                    indexed_array.idUser=idUserSession;
                    console.log("upser update " + indexed_array._id + " user " + indexed_array.idUser);
                    console.log(indexed_array);
                    $.ajax({
                        type: "PUT",
                        url: "/lampandaire",
                        data: indexed_array,
                        dataType: "json",
                        success: function(lampandaire){
                            console.log("user lampandaire " + lampandaire);
                            if(typeof lampandaire !="undefined")
                            {
                                if(lampandaire.resultat==true)
                                {
                                    $("#contentOp").text("Lampandaire modifié(e)");
                                    user.state=false;
                                    var indexElement =0;
                                    dateScenarioBS.forEach(function(lampandaireFind, index){
                                        if(lampandaire._id==user._id)
                                        {
                                            //lampandaireFind =lampandaire;
                                            indexElement = index;
                                            return false;
                                        }
                                    });
                                    if(indexElement!=0)
                                    {
                                        delete dateScenarioBS[indexElement];
                                        dateScenarioBS.push(lampandaire);
                                    }

                                    updateState(dateScenarioBS);
                                    $bootTable.bootstrapTable('load', dateScenarioBS);
                                }else{
                                    $("#contentOp").text("Erreur veuillez réessayer plus tard!!");
                                }
                            }else{
                                $("#contentOp").text("Impossible de satisfaire votre demande veuillez réessayer plus tard!!");
                            }
                            $('#myModal').modal('show');
                            $('input').val("");
                        }
                    });*/

                }

            }else console.log("invalid form");
        });

        /*$("#supprimer").click(function(){
            var rowSelected =  $bootTable.bootstrapTable('getSelections');
            //console.log(rowSelected);
            if(rowSelected.length==0)
            {
                $("#contentOp").text("Aucun utilisateur choisi!!");
                $('#myModal').modal('show');

            }else{
                var dataT =[];
                rowSelected.forEach(function(user){
                    if(typeof user._id!="undefined")
                    {
                        console.log("id " + user._id);
                        dataT.push(user._id);
                        if(idRowUpdate==user._id)
                        {
                            $('input').val("");
                            idRowUpdate="";
                        }

                    }
                });
                console.log("delete " + dataT);

                //console.log(data);
            }
        });*/
    });

    function updateState(datLamp){
        datLamp.forEach(function(lamp){
            lamp.state=false;
        });
    }
</script>